<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>lrnaalynz@tznvy.pbz</string>
	<key>contactName</key>
	<string>Zhang Kai Yu</string>
	<key>description</key>
	<string>Kroman romanize Korean hangul.</string>
	<key>name</key>
	<string>Kroman</string>
	<key>uuid</key>
	<string>27F54C23-0E3D-46BA-8D2E-4E88191715FA</string>
</dict>
</plist>
